:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 90em;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--transparent-white);
  font-size: 1.5rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.8;
  position: relative;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

@media only screen and (max-width: 62.5em) {
  .cards-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 25em) {
  .cards-wrapper {
    padding: 8rem 0;
  }
}

.card {
  max-width: 35ch;
  width: 100%;
  padding: 4.5rem;
  border-radius: 8px;
  color: var(--transparent-white);
  background-color: var(--transparent-white);
  font-family: "Lexend Deca", sans-serif;
}

.card > *:not(:last-child) {
  margin-bottom: 2.5rem;
}

.card:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 62.5em) {
  .card:not(:first-child) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.card:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-width: 62.5em) {
  .card:not(:last-child) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@media only screen and (max-width: 62.5em) {
  .card {
    margin: 3rem;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 25em) {
  .card {
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card:nth-child(1) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card:nth-child(2) {
    border-radius: 0;
  }
  .card:nth-child(3) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.card__icon {
  width: 5rem;
  fill: white;
}

.card__heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--very-light-gray);
  text-transform: uppercase;
}

.card__text {
  letter-spacing: 0.6px;
}

.card--orange {
  background-color: var(--bright-orange);
}

.card--cyan {
  background-color: var(--dark-cyan);
}

.card--dark-cyan {
  background-color: var(--very-dark-cyan);
}

.btn {
  display: inline-block;
  padding: 0.7rem 2.5rem;
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  border-radius: 5rem;
  margin-top: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--orange {
  color: var(--bright-orange);
}

.btn--cyan {
  color: var(--dark-cyan);
}

.btn--dark-cyan {
  color: var(--very-dark-cyan);
}

.btn:hover.btn--orange, .btn:hover.btn--cyan, .btn:hover.btn--dark-cyan {
  background-color: transparent;
  color: var(--transparent-white);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.attribution a:link,
.attribution a:visited {
  color: #3e52a3;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.attribution a:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */